{% extends 'base.html' %}
{%  load static %}

{% block head %}
{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <a href="{% url 'projects:project' file.project.id %}" class="breadcrumb-item">{{ file.project.title }}</a>
      <a href="{% url 'file' file.id %}" class="breadcrumb-item">{{ file.name }}</a>
      <li class="breadcrumb-item active" aria-current="page">NER</li>
    </ol>
  </nav>
</div>
<div class="container project">
  <div class="d-flex flex-column project__header">
    <div class="project__content">
      <h1 js-contentFileName>{{ file.name }}</h1>
      <div class="d-md-flex project__contributors">
        <div class="project__date">
          <span class="project__text--label">Version</span>
          <span class="project__text--date" js-contentFileVersion>{{ version }}</span>
          <span class="project__text--divider"></span>
          <span class="project__text--label">Creator</span>
          <span class="project__text--date" js-contentFileCreator></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Original</h3>
        </div>
        <div class="box__content">
          <pre class="file__content" id="original"></pre>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Annotated</h3>
        </div>
        <div class="box__content">
          <pre class="file__content" id="annotated"></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
window.onload = function() {
var csrftoken = $("[name=csrfmiddlewaretoken]").val();
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});

$.ajax({
    type: "GET",
    url: "/api/entity_recognition/posttagging_spacy/file/" + {{file.id}},
    contentType : 'application/json',
    success: function(resultData){
        let html = Prism.highlight(resultData.original, Prism.languages.xml, 'xml');
        document.getElementById('original').innerHTML = html;

        html = Prism.highlight(resultData.annotated, Prism.languages.xml, 'xml');
        document.getElementById('annotated').innerHTML = html;
    },
    error: function (xhr, ajaxOptions, thrownError) {

	}
});

$('#original').on('scroll', function () {
    $('#annotated').scrollTop($(this).scrollTop());
    $('#annotated').scrollLeft($(this).scrollLeft());
});

$('#annotated').on('scroll', function () {
    $('#original').scrollTop($(this).scrollTop());
    $('#original').scrollLeft($(this).scrollLeft());
});
}
</script>
{% endblock %}
